VITE_API_URL=http://localhost:3001
VITE_SOCKET_URL=http://localhost:3001
VITE_METERED_MEETING_URL=https://YOUR_SUBDOMAIN.metered.live/YOUR_ROOM
VITE_METERED_DOMAIN=YOUR_SUBDOMAIN.metered.live
VITE_METERED_ROOM=YOUR_ROOM
